/*-------------*/
/*    RESET    */
/*-------------*/
/*  box size    */
*,
*::before,
*::after{
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-weight: 400;
}

/*set up the body*/

body{
    font-family: --ff-sans-normal;
    font-size: --fs-400;
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture{
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select{
    font:inherit;
}

/*remove animations for people who have turned off animations*/

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/*-------------*/
/*   Utility Classes   */
/*-------------*/
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space:nowrap;
    border: 0;
}
.upperCase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}

/*----------------*/
/*--- ELEMENTS ---*/
/*----------------*/
html{
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-padding: 5vh;
}
.navigation{
    height: 5vh;
    width: 100vw;
    background-color: crimson;
    top:0;
    position: sticky;
    z-index: 100;
}
.navigation ul{
    display: inline-flex;
}
.navigation li{
    list-style: none;
    margin-left: 1rem;
}
.navigation li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}
#greetings-section{
    display: flex;
    background-image:linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 95vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
#greetings-section h1{
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
#section-about{
    background: url(Resources/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    height: 95vh;
    width: 100vw;
}
.contact-me{
    height: 90vh;
    width: 100vw;
    background-color: burlywood; 
}
.card{
    width: 52.5%;
    height: 95%;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card a{
    width: 45%;
}
.card a img{
    width: 100%;
    border: 1px;
    border-radius: 50%;
}
.card p{
    color: white;
}
#bio{
    color: white;
    font: 'lato', sans-serif;
}
#bio h1{
    border-bottom: solid 3px white;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}
#bio p{
    max-width: 30rem;
    font-size: 1.5rem;
    font-family: 'lato', sans-serif;
}
.containter{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    padding: 5px;
}
#section-skills{
    height: 95vh;
    width: 100vw;
    background-color: rgb(26, 28, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section-skills h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: white;
    border-bottom: solid 3px white;
    margin-bottom: 3rem;
}
#section-skills .wrapper{
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10%;
    padding-top: 5rem;
}
.progress-card{
    width: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    align-items: center;
}
#section-skills h2{
    color: white;
    font-family: 'lato', sans-serif;
}
#section-skills h3{
    color: white;
    font-family: 'lato', sans-serif;
}
.progress-bar{
    width: 400px;
    max-width: 400px;
    height: 2px;
    background: rgb(148, 211, 218);
    margin-top: 15px;
    margin-bottom: 25px;
}
.progress-bar div{
    width: 0%;
    background-color: rgb(193, 242, 186);
    height: 2px;
}
.progress-bar div span{
    font-family: "lato", sans-serif;
    float: right; 
    color: rgb(193, 242, 186);
}
.progress-bar .css span{
    color: rgb(0, 203, 201);
}
.progress-bar .mysql span{
    color: rgb(217, 16, 58);
}
.progress-bar .asp-net span{
    color: rgb(217, 16, 58);
}
.progress-bar .blazor span{
    color: rgb(217, 16, 58);
}

.progress-bar .html{
    background-color: rgb(218, 95, 203);
    animation: html 1s linear forwards;
}
.progress-bar .css{
    background-color: rgb(238, 210, 168);
    animation: css 1s linear forwards;
}
.progress-bar .c-sharp{
    background-color: rgb(116, 152, 218);
    animation: c-sharp 1s linear forwards;
}
.progress-bar .mysql{
    background-color: rgb(0, 254, 252);
    animation: mysql 1s linear forwards;
}
.progress-bar .asp-net{
    background-color: rgb(255,173,0);
    animation: asp-net 1s linear forwards;
}
.progress-bar .blazor{
    background-color: rgb(219,62,177);
    animation: blazor 1s linear forwards;
}
@keyframes html{
    100%{
        width: 75%;
    }
}
@keyframes css{
    100%{
        width: 50%;
    }
}

@keyframes c-sharp{
    100%{
        width: 75%;
    }
}
@keyframes mysql{
    100%{
        width: 25%;
    }
}
@keyframes asp-net{
    100%{
        width: 25%;
    }
}
@keyframes blazor{
    100%{
        width: 25%;
    }
}
#section-projects{
    height: 150vh;
    width: 100vw;
    background-color: rgb(13, 14, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#section-projects h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: white;
    border-bottom: solid 3px white;
    margin-bottom: 3rem;
}
#section-projects .wrapper{
    width: 95%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-areas: 
    "first second third"
    "fourth fifth sixth"
    "seventh eight ninth";
    border-radius: 10%;
}
#section-projects a{
    text-decoration: none;
    transition: transform .2s;
    border-radius: 5%;
}
#section-projects a img{
    width: 95%;
    border: solid 5px white;
    border-radius: 5%;
}
.project{
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section-projects div :hover{
    -ms-transform: scale(1.01); 
    -webkit-transform: scale(1.01); 
    transform: scale(1.01); 
}
#section-projects div * :hover{
    -ms-transform: scale(1.0); 
    -webkit-transform: scale(1.0); 
    transform: scale(1.0); 
}
.first{
    background-color: rgb(117, 10, 32);
}
.second{
    background-color: rgb(63, 42, 111);
}
.third{
    background-color: rgb(63, 42, 111);
}
.fourth{
    background-color: rgb(63, 42, 111);
}
.fifth{
    background-color: rgb(63, 42, 111);
}
.sixth{
    background-color: rgb(63, 42, 111);
}
.seventh{
    background-color: rgb(63, 42, 111);
}
.eight{
    background-color: rgb(63, 42, 111);
}
.ninth{
    background-color: rgb(63, 42, 111);
}
.project h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 1200px){
    #section-skills{
        height: 135vh;
        width: 100vw;
        background-color: rgb(26, 28, 44);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #section-skills .wrapper{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10%;
    }
    .progress-card{
        width: 60%;
        min-width: 350px;
        min-height: 400px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    .progress-card h2{
        margin-bottom: 3rem;
    }
    .progress-bar{
        width: 300px;
        max-width: 400px;
        height: 2px;
        background: rgb(148, 211, 218);
        margin-top: 15px;
        margin-bottom: 25px;
    }
    #section-projects{
        height: 225vh;
    }
    .project h2{
        margin-bottom: 2rem;
    }
    #section-projects .wrapper{
        width: 95%;
        height: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
        grid-template-areas: 
        "first second"
        "third fourth"
        "fifth sixth "
        "seventh eight"
        "ninth ninth";
        border-radius: 10%;
    }
}
@media only screen and (max-width: 800px) {
    #section-projects{
        height: 450vh;
    }
    .project h2{
        margin-bottom: 1rem;
    }
    #section-projects .wrapper{
        width: 95%;
        height: 85%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        row-gap: 1rem;
        column-gap: 1rem;
        grid-template-areas: 
        "first"
        "second"
        " third"
        "fourth"
        "fifth"
        "sixth"
        "seventh"
        "eight"
        "ninth";
        border-radius: 10%;
    }
}