/*-------------*/
/*    RESET    */
/*-------------*/
/*  box size    */
*,
*::before,
*::after{
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-weight: 400;
}

/*set up the body*/

body{
    font-family: --ff-sans-normal;
    font-size: --fs-400;
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture{
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select{
    font:inherit;
}

/*remove animations for people who have turned off animations*/

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/*-------------*/
/*   Utility Classes   */
/*-------------*/
.container{
    padding-inline: 2em;
    max-width: 80rem;
    margin-inline: auto;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space:nowrap;
    border: 0;
}
.upperCase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}

/*----------------*/
/*--- ELEMENTS ---*/
/*----------------*/
html{
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-padding: 10vh;
}
.navigation{
    height: 10vh;
    width: 100vw;
    background-color: crimson;
    top:0;
    position: sticky;
}
.navigation ul{
    display: inline-flex;
}
.navigation li{
    list-style: none;
    margin-left: 1rem;

}
.navigation li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
#greetings-section{
    display: flex;
    background-image:linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
#greetings-section h1{
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
#section-about{
    background: url(Resources/background1.jpg);
    /* background-blend-mode: darken; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    height: 90vh;
    width: 100vw;
}
.my-skills{
    height: 90vh;
    width: 100vw;
    background-color: darkcyan;

}
#section-projects{
    height: 90vh;
    width: 100vw;
    background-color: salmon;
}
.contact-me{
    height: 90vh;
    width: 100vw;
    background-color: burlywood; 
}
.card{
    width: 52.5%;
    height: 95%;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card a{
    width: 45%;
}
.card a img{
    width: 100%;
    border: 1px;
    border-radius: 50%;
}
.card p{
    color: white;
}
#bio{
    color: white;
    font: 'lato', sans-serif;
}
#bio h1{
    border-bottom: solid 3px white;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}
#bio p{
    max-width: 30rem;
    font-size: 1.5rem;
    font-family: 'lato', sans-serif;
}
.containter{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    padding: 5px;
}